---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components'
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
import Flipimage from "./flipimage.astro";
let welcomeText: string = "Welcome";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <script>
          console.log(navigator.language);
        </script>
        <h6 class="text-sm font-light m-0 text-gray-500 welcome-text">{welcomeText}</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Shurgbee</b>, a software
          developer who loves to explore new technologies and create innovative apps.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.instagram} aria-label="instagram profile" target="_blank">
          <Button aria-label="instagram profile">
            <Icon name="ri:instagram-fill" class="h-6" />
            <span class="sr-only">Instagram Profile</span>
          </Button>
        </a>
        <a href={LINKS.itchio} aria-label="itch.io profile" target="_blank">
          <Button aria-label="itch.io profile">
            <Icon name="fa6-brands:itch-io" class="h-6" />
            <span class="sr-only">Itch.io Profile</span>
          </Button>
        </a>
      </div>
    </div>
    <Flipimage>
    <Image
      slot="front"
      width="300"
      height="300"
      src="/shurgbeeicon.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto rounded-full"
      alt="shurgbee logo with text"
      priority={true}
    />
    <Image
      slot="back"
      width="300"
      height="300"
      src="/realpfp.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto rounded-full"
      alt="sragvee with a dinosaur on his head"
      priority={true}
    />
    </Flipimage>
  </div>
</Card>
<script>
const welcomeMessages: { [key:string ]: string} = {
  'en': "Welcome",
  'es': "Bienvenido",
  'fr': "Bienvenue",
  'de': "Willkommen",
  'it': "Benvenuto",
  // Add more languages as needed
};
    const userLang = navigator.language 
    const langCode: string = userLang.split('-')[0]; // Get the language code (e.g., 'en' from 'en-US')
    const welcomeText = welcomeMessages[langCode] || welcomeMessages['en']; // Default to English if language not found

    const welcomeElement = document.getElementById('welcome-text');
    if (welcomeElement) {
      welcomeElement.textContent = welcomeText;
    }
  </script>