---
import Card from "./Card/index.astro";
import ProjectsCard from "./Project/ProjectsCard.astro"
import { LINKS } from "../lib/constants";
import { getCollection } from "astro:content";

const collection = (await getCollection("project"))
const projects = collection.filter((project) => !project.data.draft)
---

<style>
.hidescroll::-webkit-scrollbar {
  display: none;
}

.hidescroll{
-ms-overflow-style: none;
scrollbar-width: none;
}

</style>

<Card colSpan="md:col-span-2" rowSpan="md:row-span-4">
  <div class="overflow-auto hidescroll h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold p2-4">
        Projects
      </h1>
    </header>
    <div class="grid grid-cols-1 gap-3 ">
      {projects.map((project) => <ProjectsCard name={project.data.name} 
      github={project.data.github} 
      link={project.data.link} 
      technologies={project.data.technologies}>
        {project.body}
      </ProjectsCard>)}
    </div>
  </div>
</Card>
